<app-slider
    [nombre]="'Peliculas'"
    [size]="'small'"

></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Lista de Peliculas</h1>
        <!-- <div *ngIf="peliculas.length <=3">
    <p>Hay pocas peliculas</p>
</div>

<div *ngIf="peliculas.length > 3">
    <p>Hay muchas peliculas</p>
</div> -->

        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula
                    [pelicula] = "pelicula"
                    [indice] = "i"
                ></app-pelicula>

            </div>

        </div>
    </section>
    <hr>
    <app-sidebar></app-sidebar>
</div>